* {
    -fx-font-family: Consolas, monospace;
}

.column-index {
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.root .table-row-cell:hover {
    -fx-background-color: -color-cell-border, -color-accent-1;
}

.root:dark .table-row-cell:hover {
    -fx-background-color: -color-cell-border, -color-accent-6;
}

.context-menu {
    -fx-effect: dropshadow(three-pass-box, -color-border-muted, 6, 0.5, 0, 1);
}

.root:dark .context-menu {
    -fx-effect: dropshadow(three-pass-box, -color-bg-inset, 8, 0.5, 0, 2);
}
